.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:16px;
  row-gap: 40px;
}


.thumb{
  width:100%;
  border-radius: 10px;
}

.vidinfo{
  display:grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.nameinfo{
  width:100%;
}

.vidname{
  margin-top: 3px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 7px;
}
.chname,.vidstats{
  font-size: 12px;
  color:rgb(96,96,96);
}
.chname{
  margin-bottom: 4px;
}

.picsec{
  vertical-align: top;
  width:50px;
}
.chpic{
  margin-top: 3px;
  width:40px;
  border-radius: 25px;
}


@media (max-width: 1200px) 
{
  .video-grid 
  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px)
{
  .video-grid 
    {
      grid-template-columns: 1fr;
    }
}